html {
    text-decoration: none;
}

body {
    font-family: 'Assistant', sans-serif;
    font-size: 1.3em;
    color: #6ad4b1;
    background-color: #3b3b3b;
    text-align: center;
    padding-bottom: 100px;
}

.githubprofile {
    text-decoration: none;
    background-color: #193E27;
    color: #88DDC1;
    padding: 5px;
}

.linkedin {
    text-decoration: none;
    background-color: #193E27;
    color: #88DDC1;
    padding: 5px;
}

.email {
    text-decoration: none;
    background-color: #193E27;
    color: #88DDC1;
    padding: 5px;
}

.biocontainer {
    padding-top: 30px;
    margin: auto;
    text-align: left;
    border: solid 1px;
    border-radius: 5%;
    box-shadow: 5px 5px 5px #2F7604;
}

.headline {
    margin: auto;
    padding: 15px;
}

.bio {
    margin: auto;
    padding: 15px;
}

.title {    
    text-align: center;
    width: 60%;
    margin: auto;
    padding: 45px;
}

.contactInfo {
    font-size: 2em;
    width: 60%;
    margin: auto;
    padding: 15px;
    padding-top: 30px;
}

.name {
    text-align: center;
    width: 90%;
    margin: auto;
    padding: 10px;
    margin-bottom: 30px;
    border: solid 1px;
    border-radius: 5%;
    box-shadow: 5px 5px 5px #2F7604;
}

.link {
    color: #f2a127;
    text-align: center;
    width: 60%;
    margin: auto;
    padding: 15px;
}

.phoneNumber {
    text-align: center;
    width: 60%;
    margin: auto;
    padding-bottom: 50px;
    padding: 5px;
    text-decoration: none;
    background-color: #193E27;
    color: #88DDC1;
}

#projects {
    padding-top: 30px;
}

.projectText {
    text-align: center;
    margin: auto;
    border: solid 1px;
    border-radius: 5%;
    box-shadow: 5px 5px 5px #2F7604;
}

.skillscontainer {
    margin-top: 50px;
    margin-bottom: 50px;
    border: solid 1px;
    border-radius: 5%;
    box-shadow: 5px 5px 5px #2F7604;
}

.skills {
    width: 60%;
    margin: auto;
    padding: 15px;
    text-align: center;
    font-size: 2em;
    padding-top: 30px;
}

.projects {
    width: 60%;
    margin: auto;
    padding: 15px;
    text-align: center;
    font-size: 2em;
}

.projecttitle {
    margin-top: 70px;
}

.projectText h3 {
    text-align: left;
    margin-left: 10px;
}

.projectParagraph {
    text-align: center;
    width: 60%;
    margin: auto;
    padding: 15px;
}

.projectlinks {
    text-align: center;
    width: 60%;
    text-decoration: none;
    margin: 15px;
    padding: 5px;
}

a {
    background-color: #193E27;
    color: #88DDC1;
    cursor: pointer;
    border: solid 1px;
    border-radius: 5%;
    box-shadow: 5px 5px 5px #2F7604;
}

.navp {
    display: inline;
    color: #1f3a93;
    background-color:  #00FA9A;
    margin: 3px;
}

.Nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #1f3a93;
    font-weight: 600;
    background-color:  #00FA9A;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    text-decoration: none;
}

.footer {
    color: #1f3a93;
    font-weight: 600;
    background-color:  #00FA9A;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    text-decoration: none;
}

.listOfSkills {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-column: auto;
    width: 60%;
    margin: auto;
    padding: 55px;
}  

img {
    width: 280px;
    height: 220px;
    margin: auto;
}

@media screen and (min-width: 375px) {
    .listOfSkills {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-column: auto;
        width: 60%;
        margin: auto;
        padding: 55px;
    }   
}

@media screen and (min-width: 480px) {
    .listOfSkills {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-column: auto;
        width: 60%;
        margin: auto;
        padding: 15px;
    }  
    .projectText a {
        text-align: center;
        width: 60%;
        text-decoration: none;
        margin: 5px;
        padding: 5px;
    } 
}

@media screen and (min-width: 768px) {
    .listOfSkills {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-column: auto;
        width: 60%;
        margin: auto;
        padding: 15px;
    }   
}

@media screen and (min-width: 1024px) {
    .listOfSkills {
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-column: auto;
        width: 60%;
        margin: auto;
        padding: 15px;
    }   
}